html, body {
    height: 100%;
}

#app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.row {
    width: 100%;
}

tr td {
    cursor: pointer;
}

.modal.open {
    z-index: 1003;
    display: block;
    opacity: 1;
    top: 30%;
    transform: scaleX(1) scaleY(1);
}

.portfolio-row {
    margin-bottom: auto;
}

form, form > div {
    padding-left: 0 !important;
}

.widget__form-feedback {
    clear: both;
}
.widget__form-feedback::before {
    content: "|";
    color: transparent;
}
.widget__form-feedback.error {
    color: red;
}